<main class="d-flex justify-content-center">
  {{> sidebar-left}}

  <section style="min-width: 635px;border:1px solid #E6ECF0;">
    <div style="margin-top:24px; height: 51px;border-bottom:1px solid #E6ECF0;">
      <p style="margin:0 23px;font-weight: 700;font-size:24px">通知</p>
    </div>
    <ul style="padding:0 15px">
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
      <li style="margin-top:16px;list-style-type:none ;border-bottom:1px solid #E6ECF0;">
        <img style="width: 30px;heigth:30px; border-radius:50%"
          src="https://www.jendow.com.tw/img/4/461/nBnauM3X4MzN3QDOzcDNzgTMyQTM4YzMxgjMyQTNwAzMwIzL3QzL1UzLt92YucmbvRWdo5Cd0FmL0E2LvoDc0RHa.jpg"
          alt="">
        <p style="font-weight: 700;margin-bottom:8px;">message-title</p>
        <p style="margin-bottom:8px;">
          message-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-contentmessage-content
        </p>
      </li>
    </ul>
  </section>

  {{> recommendation}}
</main>

{{!--
<script src='/javascripts/notify.js'></script> --}}