<main class="d-flex justify-content-center">
  {{>sidebar-left route="settings"}}
  <section style="width:636px; border:1px solid #E6ECF0">
    <div class="container d-flex">
      <div class="tweets-container" style="width: 639px;height:1200px;;border:1px solid #E6ECF0; ">
        <div style="border-bottom: 1px solid #E6ECF0;">
          <h4 class="pt-3 ps-3"
            style="display:flex; justify-content:start; align-iten:center; height: 75px;font-weight: 700;">帳戶設定</h4>
        </div>

        <div class="tweets-container">
          <form id="setting" class="form-setting ms-3 mt-3" action="/settings?_method=PUT" method="post"
            style="width: 95%; ">

            {{> user-form}}

            <div class="d-flex align-items-center justify-content-end">
              <button type="submit" class="btn btn-primary"
                style="border-radius:50px; margin-top:8px; margin-bottom:8px; margin-right:45px; background:#FF6600; border-color:#FF6600; font-size:20px; font-family:'Noto Sans TC'; padding-top:8px; width: 88px; height: 46px;"
                type="submit">儲存
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="recom-wrapper" style="position:sticky; top:0; height:100vh">
    <div class="card m-3" style="width: 20rem; max-height:731px; border:none">
    </div>
  </section>
</main>